.book-background {
    background-color: #f3f5f9;
    max-width: 1588px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.filter-options {
    display: grid;
    grid-template-columns: 250px 500px 130px 130px 130px 50px 50px;
    width: 100%;
    max-width: 1300px;
    margin-top: 40px;

    p {
        justify-self: center;
    }

    .filter-options-wrapper {
        display: flex;
        justify-self: center;
    }
}

.book-item {
    height: 130px;
    margin: 20px;
    width: 100%;
    max-width: 1300px;
    background-color: #fefefe;
    display: flex;
    border-radius: 5px;

    .book-item-wrapper {
        display: grid;
        align-items: center;
        grid-template-columns: 250px 500px 130px 130px 130px 50px 50px;

        p {
            justify-self: center;
        }
  
        img {
            margin-right: 50px;
        }
    
        .edit-icon {
            width: 24px;
            height: 24px;
        }
    }
}

.add-book-button {
    background-color: transparent;
    padding: 10px;
    font-size: 1.2em;
    color: #313130;
    border-radius: 5px;
    border: 2px solid #868686;  
    cursor: pointer;

    &:hover {
        background-color: #d8dee9;
    }

    &:active{
        background-color: #d8dee9;
        transform: translateY(4px);
    }   
}