<div class="book-background">
    <div class="filter-options">
        <div class="filter-options-wrapper">
            <p>Isbn</p>
            <p>title</p>
            <p>Author</p>
            <p>pages</p>
            <p>copies</p>
        </div>
    </div>
    <div class="book-item">
        <div class="book-item-wrapper">
            <p>1234</p>
            <p>Mobby Dick</p>
            <p>Mateus Bentes</p>
            <p>100</p>
            <p>10</p>
            <img class="edit-icon" src="assets/svg/pen-to-square-regular.svg" />
            <img class="edit-icon" src="assets/svg/trash-solid.svg" />
        </div>

    </div>

    <div class="book-item">

    </div>
</div>