<form>
    <div>
        <label>
            <p>Nome do Livro</p>
            <input [(ngModel)]="book.name" name="name" placeholder="ex.: Harry Potter" />
        </label>
    </div>
    <div>
        <label>
            <p>Autor</p>
            <input [(ngModel)]="book.author" name="author" placeholder="ex.: J.K" />
        </label>
    </div>
    <div>
        <label>
            <p>Numero de páginas</p>
            <input [(ngModel)]="book.pages" name="pages" type="number" placeholder="ex.: 521" />
        </label>
    </div>
    <div>
        <label>
            <p>Cópias disponíveis</p>
            <input [(ngModel)]="book.copies" name="copies" type="number" placeholder="ex.: 50" />
        </label>
    </div>
</form>